<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer care Registry</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/img3.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="{{url_for('static',filename='img4.jpg')}}" alt="">
        </div>
        <ul class="nav-area">
            <li><a href="/admin">Admin Login</a></li>
            <li><a href="/login">User Login</a></li>
            <li><a href="/registertemp">Register</a></li>
        </ul>
</div>

<div class="welcome-text">
        <h1><span>Customer Care</span>Registry</h1>
    </div>
    <div class="quote">
          <h1>The more helpful you are<br>more pleasent the Customer is....</h1>
          </div>
</header>

</body>
</html>
